<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" th:href="@{/css/adminLogin.css}">
</head>
<body>
        <div class="container" onclick="">
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="center">
                <h2>Please Sign In</h2>
                <input type="email" placeholder="email">
                <input type="password" placeholder="password">
                <h2>&nbsp;</h2>
            </div>
        </div>


<script th:src="@{/js/adminLogin.js}"></script>
</body>
</html>