<!doctype html>
<!--[if lt IE 7 ]>
<html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta name="viewport" content="width = 1050, user-scalable = no"/>    <!--전체 섹션 규격 & 유저 크기 조정 가능여부-->
    <script type="text/javascript" src="/lib/JQuery/jquery.min.1.7.js"></script>    <!--경로 & 실제 파일 존재여부 반드시 확인-->
    <script type="text/javascript" src="/lib/JQuery/modernizr.2.5.3.min.js"></script>    <!--경로 & 실제 파일 존재여부 반드시 확인-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--	<script type="text/javascript" src="../lib/JQuery/yepnope.js"></script>-->
    <!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/3.11.2/modernizr.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/CSS/bookGuestBook.css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>

</head>
<body style="background-image: url(/img/mypageBackground.jpg); background-repeat: no-repeat ; background-size: cover;">
<div class="logo">
    <div class="logo" style="background-image: url(/img/mypageLogo.png);"></div>
</div>
<div class="myPageGoHome" style="background-image: url(/img/myPageGoHome.png)"></div>
<div class="backgroundGuestBook" style="background-image: url(/img/addBook.png);"></div>

<!-- Guestbook Entries Section -->
<div id="guestbookEntries" style="margin-top: 20px;">
    <!-- New guestbook entries will be added here -->
</div>

<div class="flipbook-viewport">

    <div class="container">
        <div class="flipbook">
            <div class="titleBook" style="background-image:url(/img/titleGuestBook.png)"></div>
            <!--배경이미지 설정 부분 (여권사진 홀수번 우측, 짝수번 좌측 화면 표시 예정)-->
<!--            <div class="leftBook" id="leftBookPage1" style="background-image:url(/img/sample_left.png)"></div>-->
<!--            <div class="rightBook" id="leftBookPage2" style="background-image:url(/img/sample_right.png)"></div>-->

        </div>
    </div>
</div>
<div class="menu1" id="1" style="background-image: url(/img/mypageMenu.png);"><h4 id="Post">&nbsp;Invoice</h4></div>
<div class="menu2" id="2" style="background-image: url(/img/mypageMenu.png);"><h4 id="PostLiked">&nbsp;Post</h4></div>
<div class="menu3" id="3" style="background-image: url(/img/mypageMenu.png);"><h4 id="GuestBook">&nbsp;Post♥</h4></div>
<div class="menu4" id="4" style="background-image: url(/img/mypageMenu.png);"><h4 id="PackageLiked">&nbsp;Package♥</h4>
</div>
<div class="menu5" id="5" style="background-image: url(/img/mypageMenu.png);"><h4 id="Invoice">&nbsp;GuestBook</h4>
</div>
<div class="goChat" style="background-image: url(/img/mypageChat.png);"></div>

<div class="writeGuestBook" style="background-image: url(/img/addbutton.png)"></div>
<div class="addGuestBookModal">
    <div class="modalContent">
        <button class="closeModal">Close</button>
        <h3>Write Your Guestbook</h3>
        <label for="guestName">Name:</label>
        <input type="text" id="guestName" placeholder="Enter your name">
        <label for="guestMessage">Message:</label>
        <textarea id="guestMessage" placeholder="Write a message"></textarea>
        <button id="submitGuestBook">Submit</button>
    </div>
</div>


</div>


</div>


<script type="text/javascript">

   //여기서부터
    $(document).ready(function () {
        const apiUrl = "/bookGuestBook"; // API URL 설정


        // 페이지 로드 시 방명록 목록을 불러오기
        function loadGuestBooks() {
            const toUserId = 1; // 사용자 ID (하드코딩)

            $.get(`${apiUrl}/list/${toUserId}`, function (data) {
                console.log(data); //일단 테스트용
                $('#guestbookEntries').empty(); // 기존 목록 초기화

                // 방명록 항목을 flipbook 형식으로 추가
                data.forEach(guestBook => {
                    const entryHtml = `
                        <div class="guestbook-entry" >
                            <h4>${guestBook.toUserId}</h4>
                            <p>${guestBook.message}</p>
                            <button class="delete-btn" data-id="${guestBook.id}">Delete</button>
                        </div>
                    `;
                    $('#guestbookEntries').append(entryHtml);
                });

                // 삭제 버튼 클릭 시 삭제 처리
                $('.delete-btn').click(function () {
                    const guestBookId = $(this).data('id');
                    deleteGuestBook(guestBookId);
                });
            });
        }

        // 방명록 추가 처리
        $('#submitGuestBook').click(function () {
            const name = $('#guestName').val();
            const message = $('#guestMessage').val();

            if (name && message) {
                const guestBookData = {
                    toUserId: 1,
                    fromUserId: 2,
                    // name: name,
                    guestBookContent: message
                };

                $.ajax({
                    url: `${apiUrl}/add`,
                    method: 'POST',
                    contentType: 'application/json',  // 요청의 Content-Type을 JSON으로 설정
                    data: JSON.stringify(guestBookData),  // 데이터를 JSON 형식으로 변환
                    success: function () {
                        loadGuestBooks(); // 새로 추가된 방명록을 반영
                        $('.addGuestBookModal').hide(); // 모달 닫기
                        $('#guestName').val(''); // 입력 필드 초기화
                        $('#guestMessage').val('');
                    },
                    error: function () {
                        alert("Failed to add the guest book entry.");
                    }
                });
            } else {
                alert("Please fill in both fields!");
            }




            // 방명록 삭제 처리
            function deleteGuestBook(guestBookId) {
                $.ajax({
                    url: `${apiUrl}/delete/${guestBookId}`,
                    method: 'DELETE',
                    success: function () {
                        loadGuestBooks(); // 삭제 후 목록 갱신
                    },
                    error: function () {
                        alert("Failed to delete the guest book entry.");
                    }
                });
            }

            // 페이지 로드 시 방명록 목록 불러오기
            loadGuestBooks();
        });
    })
    //여기까지


    function loadApp() {

        // Create the flipbook

        $('.flipbook').turn({
            // Width

            width: 922,

            // Height

            height: 600,

            // Elevation

            elevation: 50,

            // Enable gradients

            gradients: true,

            // Auto center this flipbook

            autoCenter: false,
            display: 'double',
            page: 1,
            first:true

        });

        // $('.flipbook').bind('turning', function (event, page) {
        //     if (page === 3) {
        //         event.preventDefault();  // 2페이지에서는 flipbook 기능을 비활성화
        //     }
        // });

        $('.menu1').show(); // Show menu after the first page turn
        $('.menu2').show();
        $('.menu3').show();
        $('.menu4').show();
        $('.menu5').show();

        $('.writeGuestBook').click(function () {
            $('.addGuestBookModal').show();
            $('.closeModal').click(function () {
                $('.addGuestBookModal').hide();
            });
        });







        function checkAndCreateFirstPage() {
            if ($('#leftBookPage1').length === 0 || $('#rightBookPage1').length === 0) {
                var newLeftPage = `<div class="leftBook" id="leftBookPage1" style="background-image:url(/img/sample_left.png)"></div>`;
                var newRightPage = `<div class="rightBook" id="rightBookPage2" style="background-image:url(/img/sample_right.png)"></div>`;
                $('#flipbook').append(newLeftPage);
                $('#flipbook').append(newRightPage);
            }
        }

        // 한 페이지당 최대 항목 수 (왼쪽 페이지와 오른쪽 페이지 각각 3개씩)
        var entriesPerPage = 3;  // 왼쪽 페이지와 오른쪽 페이지에 각각 3개씩 항목

// 현재 페이지와 페이지별 항목 수를 추적
        var currentPage = 1;  // 첫 페이지는 표지이므로 두 번째 페이지부터 시작 (1번째 페이지는 이미 표지)
        var pages = {
            0: 0, // 표지 페이지
            1: 0, // 첫 번째 오른쪽 페이지
            2: 0  // 두 번째 왼쪽 페이지
        };

// 한 페이지당 항목 개수 (왼쪽, 오른쪽 페이지 각각 3개씩)
        var entriesPerPage = 3;
        var currentPage = 1; // 첫 번째 페이지는 표지, 1번부터 시작
        var pages = {
            0: 0, // 표지 페이지 (0번)
            1: 0, // 첫 번째 오른쪽 페이지
            2: 0  // 두 번째 왼쪽 페이지
        };

// 항목을 페이지에 추가하는 함수
        function addEntryToPage(entry) {
            console.log("Adding entry:", entry);

            // 페이지가 아직 없으면 페이지 생성하고 항목 추가
            if (currentPage === 1) {
                // 첫 번째 페이지를 표시하는 로직
                createNewPage(entry);
                return;
            }

            // 현재 페이지가 꽉 차지 않았다면 항목 추가
            if (pages[currentPage] < entriesPerPage) {
                // 페이지에 항목을 추가
                $(`#page${currentPage}`).append(entry);
                pages[currentPage]++;
            } else {
                // 페이지가 가득 차면 새 페이지 생성
                if (currentPage % 2 === 1) {
                    // 오른쪽 페이지가 가득 차면 왼쪽 페이지로 넘어가야 한다
                    currentPage++; // 왼쪽 페이지로 넘어가며
                    createNewPage(entry);
                } else {
                    // 왼쪽 페이지가 가득 차면 오른쪽 페이지로 넘어간다
                    currentPage++; // 오른쪽 페이지로 넘어가며
                    createNewPage(entry);
                }
            }

            console.log("Pages after adding entry:", pages);
        }

// 새 페이지를 생성하고 항목을 추가하는 함수
        function createNewPage(entry) {
            var totalPages = $('.flipbook').turn('pages');
            currentPage = totalPages + 1; // 페이지 번호 계산

            // 새 페이지 생성 (왼쪽 또는 오른쪽 페이지)
            var newPage = `<div class="page" id="page${currentPage}" style="background-image:url(/img/addBook.png)"></div>`;

            // 새 페이지를 flipbook에 추가
            $('.flipbook').turn('addPage', $(newPage)[0], currentPage);

            // 새 페이지에 항목 추가
            $(`#page${currentPage}`).append(entry);
            pages[currentPage] = 1; // 새 페이지에 첫 번째 항목 추가

            // 페이지가 생성된 후, 강제로 페이지를 다시 렌더링하여 항목이 표시되도록 합니다.
            $('.flipbook').turn('resize');
            console.log("Pages after creating new pages:", pages);
        }



        function setRandomBackgroundImage(entryElement) {
            const images = [
                'url(/img/stamp1.png)',
                'url(/img/stamp2.png)',
                'url(/img/stamp3.png)',
                'url(/img/stamp4.png)',
                'url(/img/stamp5.png)'
            ];

            // 랜덤 이미지 선택
            const randomImage = images[Math.floor(Math.random() * images.length)];

            // 선택된 이미지로 배경 설정
            entryElement.css('background-image', randomImage);
        }

// 방명록 작성 후 항목 추가
        $('#submitGuestBook').click(function () {
            var name = $('#guestName').val();
            var message = $('#guestMessage').val();

            if (name !== "" && message !== "") {



                const images = [
                    'url(/img/stamp1.png)',
                    'url(/img/stamp2.png)',
                    'url(/img/stamp3.png)',
                    'url(/img/stamp4.png)',
                    'url(/img/stamp5.png)'
                ];
                const randomImage = images[Math.floor(Math.random() * images.length)];

                // 새 방명록 항목 생성
                var newEntry = `
        <div class="guestbook-entry" style="background-image: ${randomImage};">
            <h4>${name}</h4>
            <p>${message}</p>
        </div>`;



                addEntryToPage(newEntry); // 새 항목을 페이지에 추가

                // 배경 이미지 랜덤 설정 함수 호출
                var lastEntry = $('#guestbookEntries').children().last();
                setRandomBackgroundImage(lastEntry);  // 여기서 랜덤 배경 이미지 설정

                // 입력 필드 초기화
                $('#guestName').val('');
                $('#guestMessage').val('');
                $('.addGuestBookModal').hide(); // 모달 닫기
            } else {
                alert("Please fill in both fields!");
            }
        });


        $('.goChat').hover(function () {
            hoverChat();
        });

        function hoverChat() {
            let angle = 0;
            clearInterval(shakeInterval);
            $('.goChat').css('transform', 'rotateY(0deg)');  // 초기 상태 설정
            let shakeInterval = setInterval(function () {
                angle += 10;  // 한 번에 10도씩 증가
                $('.goChat').css('transform', `rotateY(${angle}deg)`);  // Y축을 중심으로 회전
                if (angle >= 35) {  // 35도까지 회전
                    clearInterval(shakeInterval);
                    $('.goChat').css('transform', 'rotateY(0deg)');  // 원래 위치로 돌아가게 설정
                }
            }, 100);  // 0.1초마다 회전
        }

    }

    $('.myPageUpdate').click(function () {
        $('.updateUserModal').show();
    });
    $('.closeUpdateModal').click(function () {
        $('.updateUserModal').hide();
    });

    // Load the HTML4 version if there's not CSS transform

    function isCSSTransformSupported() {
        var testElement = document.createElement('div');
        var transformProperties = ['transform', 'WebkitTransform', 'MozTransform', 'OTransform', 'msTransform'];

        for (var i = 0; i < transformProperties.length; i++) {
            if (testElement.style[transformProperties[i]] !== undefined) {
                return true; // CSS transform이 지원됩니다.
            }
        }

        return false; // CSS transform이 지원되지 않습니다.
    }

    if (isCSSTransformSupported()) {
        // transform 지원 시
        $.getScript('../../lib/animationjs/turn.js', function () {
            loadApp();
        });
    } else {
        // transform 미지원 시
        $.getScript('../../lib/JQuery/turn.html4.min.js', function () {
            loadApp();
        });
    }

    // if (Modernizr.csstransforms) {
    // 	$.getScript('../../lib/animationjs/turn.js', function() {
    // 		loadApp();
    // 	});
    // } else {
    // 	$.getScript('../../lib/JQuery/turn.html4.min.js', function() {
    // 		loadApp();
    // 	});
    // }

    // yepnope({
    // 	test : Modernizr.csstransforms,
    // 	yep: ['../../lib/animationjs/turn.js'],				//경로 & 실제 파일 존재여부 반드시 확인
    // 	nope: ['../../lib/JQuery/turn.html4.min.js'],	//경로 & 실제 파일 존재여부 반드시 확인
    // 	both: ['css/basic.css'],				//경로 & 실제 파일 존재여부 반드시 확인
    // 	complete: loadApp
    // });

</script>

</body>
</html>