<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
    <link rel="stylesheet" href="/css/businessMain.css">
    <link rel="stylesheet" href="/css/businessPaymentList.css">
    <link rel="stylesheet" href="/css/businessUpdate.css">
    <link rel="stylesheet" href="/css/businessPackageDetail.css">
    <script src="/js/businessMain.js"></script>
    <title>Business Main Mypage</title>
</head>
<body style="background-image: url(/img/mypageBackground.jpg)">

<!-- 홈 버튼 -->
<img src="/img/logo.png" alt="homeLogo-Button" type="button" class="homeLogo-Button">
<div class="main-container">
    <div class="camera">
        <div class="camera-lens"></div>
        <div class="camera-sensor"></div>
    </div>
    <div class="container">
        <div class="profile-section">
            <!-- 비즈니스 개인정보 수정 링크 연결  -->
            <img src="/img/basicProfile.png" class="profile-icon-Button" type="button" id="profile-icon-Button" alt="profileUpdate-button">
            <div class="business-name">[[${user.username}]]</div>
        </div>

        <!-- 패키지 목록 -->
        <div class="package-section">
            <div class="package-header">Package List</div>
            <!-- 등록한 패키지 목록 -->
            <div class="package-list">
<!--                등록한 패키지 목록 동적으로 추가 -->
                <div th:each="packagePost : ${packages}" class="package-item">
                    <div class="package-title">
                        <div class="package-name">[[${packagePost.packageTitle}]]</div>
                    </div>
                    <div class="package-content">[[${packagePost.packageContent}]]</div>
                    <div class="package-status ${getStatusClass(packages.packageStatus)}">${getStatusText(packages.packageStatus)}</div>
                    <div class="liked">
                        <img src="/img/heart-icon-fill.png" alt="heart-icon-fill" id="liked-heart-icon" type="button">
                        <span class="likedCnt">[[${packagePost.likedCount}]]</span>
                    </div>
                </div>
            </div>
        </div>

        <!--  패키지 결제 모달  -->
        <!-- 패키지 결제 내역 리스트 버튼 -->
        <img src="/img/paymentListIcon.png" alt="package-payment-button" id="package-payment-button" type="button"></img>

        <!--  결제 리스트 모달   -->
        <div id="payment-modal hidden" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close-button">&times;</span>
                    <div class="modal-title">결제정보</div>

                    <!-- 결제 상태 필터링 -->
                    <select class="pay-status-select">
                        <option value="" disabled selected>결제 상태</option>
                        <option value="" selected>전체</option>
                        <option value="complete">결제 완료</option>
                        <option value="cancel">결제 취소</option>
                    </select>

                    <table class="payment-table">
                        <thead>
                        <tr class="table-header">
                            <th>사용자명</th>
                            <th>패키지명</th>
                            <th>금액</th>
                            <th>결제상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 서버에서 전달된 결제 데이터 동적 생성 -->
                        <tr th:each="payment : ${list}">
                            <td>[[${payment.userName}]]</td>
                            <td>[[${payment.packageTitle}]]</td>
                            <td>[[${payment.totalPrice]]원 </td>
                            <td class="pay-status ${getPaymentStatusClass(payment.paymentStatus)}">[[${getPaymentStatusText(payment.paymentStatus)}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--  개인정보 수정 모달   -->
        <div class="modal" id="businessUpdate-modal hidden">
            <div class="modal">
                <div class="header">
                    <span class="close-button">&times;</span>
                    <h2 class="businessName">[[${user.name}</h2>
                    <span class="joinDate">가입일 : [[${user.regDate}]]</span>
                </div>
                <div class="profile">
                    <img src="/img/basicProfile.png" alt="프로필" type="button">
                </div>
                <div class="businessInfo">
                    <label>기업 ID</label>
                    <input type="text" th:value="${user.username}" readonly>
                </div>
                <div class="businessInfo">
                    <label>기업 이메일</label>
                    <input type="email" th:value="${user.email}" readonly>
                </div>
                <div class="businessInfo">
                    <label>비밀번호</label>
                    <input type="password" th:value="${user.password}">
                </div>
                <div class="businessInfo">
                    <label>새비밀번호</label>
                    <input type="re-password" placeholder="새 비밀번호를 입력하세요.">
                </div>
                <div class="businessInfo">
                    <label>회사 사업자 번호</label>
                    <input type="text" th:value="${user.companyNumber}">
                </div>

                <div class="actions">
                    <img src="/img/myPageUpdate.png" alt="update-button" class="update-button" id="update-button">
                    <img src="/img/checkIcon.png" alt="submit-button" class="submit-button" type="button">
                </div>
            </div>
        </div>



        <!--  패키지 상세정보 모달  -->
        <div id="package-modal hidden" class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h2 class="package-title">[[${packagePost.packageTitle}]]</h2>
                <p class="package-regdate">게시일: [[${packagePost.packageRegDate}]]</p>

                <div class="modal-body">
                    <div class="image-section">
                        <div class="slideshow-container">
                            <!-- 해당 패키지 이미지 프리뷰 동적 생성 -->
                            <div class="slide fade">
                                <img th:src="${packageAttachment.packagePostFile}" alt="package-image">
                            </div>
                        </div>

                        <!-- 슬라이드 이전/다음 버튼 -->
                        <a class="prev">&#10094;</a>
                        <a class="next">&#10095;</a>
                    </div>
                </div>

                    <div class="info-section">
                        <label>
                            <span>도시</span>
                            <input type="text" th:value="${packagePost.cityName}">
                        </label>

                        <label>
                            <span>시작일</span>
                            <input type="date" th:value="${packagePost.packageStartDay}">
                        </label>

                        <label>
                            <span>종료일</span>
                            <input type="date" th:value="${packagePost.packageEndDay}">
                        </label>

                        <label>

                            <input type="text" th:value="${packagePost.packageCost}">
                        </label>

                        <label>
                            <span>최대 인원</span>
                            <input type="number" placeholder="000 People">
                        </label>
                    </div>
                </div>

                <div class="package-details">
                    <label>
                        <span>패키지 내용</span>
                        <textarea readonly>[[${packagePost.packageContent}]]</textarea>
                    </label>
                </div>

                <div class="file-attachments">
                    <!-- 해당 패키지 이미지 첨부파일 리스트 동적 추가 -->
                </div>
                <div class="attachmentInfo">해당 첨부파일 클릭 시 삭제됩니다.</div>

                <div class="button-action">
                    <img src="/img/myPageUpdate.png" alt="update-button" class="update-button" type="button">
                    <img src="/img/checkIcon.png" alt="submit-button" class="submit-button" type="button">
                    <img src="/img/mypageDeleteIcon.png" alt="delete-button" class="delete-button" type="button">
                </div>
            </div>
        </div>


    </div>
</div>

</body>
</html>