<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
    <link rel="stylesheet" href="/css/businessMain.css">
    <script src="/js/businessMain.js"></script>
    <title>Business Main Mypage</title>
</head>
<body style="background-image: url(/img/mypageBackground.jpg)">

<!-- 홈 버튼 -->
<img src="/img/logo.png" alt="homeLogo-Button" type="button" class="homeLogo-Button">
<div class="main-container">
    <div class="camera">
        <div class="camera-lens"></div>
        <div class="camera-sensor"></div>
    </div>
    <div class="container">
        <div class="profile-section">
            <!-- 비즈니스 개인정보 수정 링크 연결  -->
            <img src="/img/basicProfile.png" class="profile-icon-Button" type="button" id="profile-icon-Button">
            <div class="business-name" data-user-id="${user.username}">[[${user.username}]]</div>
        </div>

        <!-- 패키지 목록 -->
        <div class="package-section">
            <div class="package-header">Package List</div>
            <!-- 패키지 결제 내역 리스트 버튼 -->
            <img src="/img/paymentListIcon.png" alt="package-payment-button" id="package-payment-button" type="button"></img>

            <!-- 등록한 패키지 목록 -->
            <div class="package-list">
<!--                등록한 패키지 목록 동적으로 추가 -->
                <div th:each="packagePost : ${packages}" class="package-item">
                    <div class="package-header">
                        <div class="package-name">[[${packagePost.title}]]</div>
                    </div>
                    <div class="package-content">[[${packagePost.content}]]</div>
                    <div class="package-status">[[${packagePost.status}]]</div>
                    <div class="liked">
                        <img src="/img/heart-icon-fill.png" alt="heart-icon-fill" id="liked-heart-icon" type="button">
                        <span class="likedCnt">[[${packagePost.likedCount}]]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>