<!doctype html>
<!--[if lt IE 7 ]>
<html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta name="viewport" content="width = 1050, user-scalable = no"/>    <!--전체 섹션 규격 & 유저 크기 조정 가능여부-->
    <script type="text/javascript" src="/lib/JQuery/jquery.min.1.7.js"></script>    <!--경로 & 실제 파일 존재여부 반드시 확인-->
    <script type="text/javascript" src="/lib/JQuery/modernizr.2.5.3.min.js"></script>    <!--경로 & 실제 파일 존재여부 반드시 확인-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--	<script type="text/javascript" src="../lib/JQuery/yepnope.js"></script>-->
    <!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/3.11.2/modernizr.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/css/bookGuestBook.css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>

</head>

<body style="background-image: url(/img/mypageBackground.jpg); background-repeat: no-repeat ; background-size: cover;">
<div class="logo">
    <div class="logo" style="background-image: url(/img/mypageLogo.png);"></div>
</div>
<div class="myPageGoHome" style="background-image: url(/img/myPageGoHome.png)" onclick="window.location.href='/mypage/bookMain';"></div>
<div class="backgroundGuestBook" style="background-image: url(/img/addBook.png);"></div>

<div id="feedEntries" style="margin-top: 20px;">
    <!-- feedEntries 동적 생성 영역 -->
</div>
<div class="flipbook-viewport">



    <div class="container">
        <div class="flipbook">
            <div class="titleBook" style="background-image:url(/img/titleGuestBook.png)"></div>
            <!--배경이미지 설정 부분 (여권사진 홀수번 우측, 짝수번 좌측 화면 표시 예정)-->
            <!--            <div class="leftBook" id="leftBookPage1" style="background-image:url(/img/sample_left.png)"></div>-->
            <!--            <div class="rightBook" id="leftBookPage2" style="background-image:url(/img/sample_right.png)"></div>-->

        </div>
    </div>
</div>
<div class="menu1" id="1" style="background-image: url(/img/mypageMenu.png);"><h4 id="Post">&nbsp;Invoice</h4></div>
<div class="menu2" id="2" style="background-image: url(/img/mypageMenu.png);"><h4 id="PostLiked">&nbsp;Post</h4></div>
<div class="menu3" id="3" style="background-image: url(/img/mypageMenu.png);"><h4 id="GuestBook">&nbsp;Post♥</h4></div>
<div class="menu4" id="4" style="background-image: url(/img/mypageMenu.png);"><h4 id="PackageLiked">&nbsp;Package♥</h4>
</div>
<div class="menu5" id="5" style="background-image: url(/img/mypageMenu.png);"><h4 id="Invoice">&nbsp;GuestBook</h4>
</div>

<button id="open-modal" class="open-modal-btn">피드 작성</button>
<div class="writeFeed" style="background-image: url(/img/feedDetailFrame.png);">
    <form action="/mypage/feed/createFeed" method="post" enctype="multipart/form-data">

            <label for="city">도시 선택:</label>
            <select name="cityId" id="city" required>
                <option value="1">괌</option>
                <option value="2">마닐라</option>
                <option value="3">나트랑</option>
                <option value="4">세부</option>
                <option value="5">방콕</option>
                <option value="6">파리</option>
                <option value="7">홍콩</option>
                <option value="8">상하이</option>
                <option value="9">하와이</option>
                <option value="10">다낭</option>
                <option value="11">울란바토르</option>
                <option value="12">발리</option>
                <option value="13">로스엔젤레스</option>
                <option value="14">두바이</option>
                <option value="15">도쿄</option>
                <option value="16">런던</option>
                <option value="17">삿포로</option>
                <option value="18">사이판</option>
                <option value="19">이스탄불</option>
                <option value="20">로마</option>
                <option value="21">뉴욕</option>
                <option value="22">하얼빈</option>
                <option value="23">오사카</option>
                <option value="24">마카오</option>
                <option value="25">델리</option>
                <option value="26">프랑크푸르트</option>
                <option value="27">시드니</option>
                <option value="28">호쿠오카</option>
                <option value="29">오키나와</option>
                <option value="30">타이베이</option>
                <option value="31">벤쿠버</option>
                <option value="32">지린</option>
            </select>


        <input type="text" name="boardSubject" placeholder="제목" required>
        <textarea name="boardContent" placeholder="내용" required></textarea>
        <input type="file" name="files" multiple>  <!-- 여러 파일을 선택 가능 -->
        <button type="submit">피드 작성</button>
        <!-- 모달 안에 닫기 버튼 추가 -->
        <button type="button" class="close-modal-btn" onclick="closeModal()">닫기</button>
    </form>
</div>
<div class="goChat" style="background-image: url(/img/mypageChat.png);"></div>


</div>





</div>


</div>

<script type="text/javascript">
    function closeModal() {
        $('.writeFeed').hide();  // 모달 숨기기
    }

    $(document).ready(function () {
        $('#open-modal').click(function (){
            $('.writeFeed').show();
        });

        $('.writeFeed form').submit(function(event) {
            event.preventDefault();  // 페이지 새로 고침 방지
            const formData = new FormData(this);  // 폼 데이터 가져오기

            $.ajax({
                url: `/mypage/feed/create/${userId}`,  // 제출할 URL
                type: 'POST',
                data: formData,
                contentType: false,  // 파일 업로드를 위한 설정
                processData: false,  // jQuery에서 데이터 처리 방지
                success: function(response) {
                    console.log('피드 작성 성공:', response);
                    closeModal();  // 피드 작성 후 모달 닫기
                    loadFeedPages();  // 새로운 피드 목록 로드
                },
                error: function(error) {
                    console.log('에러 발생:', error);
                }
            });
        });


        const userId = getToUserIdFromUrl();
        const apiUrl = `/mypage/feed/list/${userId}`; // API URL 설정
        let initialPageCount = $('.flipbook .page').length;

        // 앱 로드 및 초기화
        initializeApp();

        let currentPage = 1; // 현재 페이지 번호
        const entriesPerPage = 9; // 한 페이지에 출력할 항목 수
        let pages = {}; // 각 페이지에 추가된 항목 수를 저장
        let currentRow=0;

        function initializeApp() {
            checkAndLoadFlipbook();
            loadFeedPages();

            // 채팅 hover 효과
            $('.goChat').hover(() => hoverChat());
        }


        // Flipbook 초기화
        function checkAndLoadFlipbook(callback) {
            if (isCSSTransformSupported()) {
                $.getScript('/lib/animationjs/turn.js', () => {
                    loadApp();
                    callback(); // Flipbook 로딩 후 콜백 호출
                });
            } else {
                $.getScript('../../lib/JQuery/turn.html4.min.js', () => {
                    loadApp();
                    callback();
                });
            }
        }

        function loadApp() {
            $('.flipbook').turn({
                width: 922,
                height: 600,
                elevation: 50,
                gradients: true,
                autoCenter: false,
                display: 'double',
                first: true
            });
        }

        // CSS Transform 지원 여부 확인
        function isCSSTransformSupported() {
            const testElement = document.createElement('div');
            const transformProperties = ['transform', 'WebkitTransform', 'MozTransform', 'OTransform', 'msTransform'];
            return transformProperties.some(prop => testElement.style[prop] !== undefined);
        }

        // 피드 리스트을 요청
        $.ajax({
            url: `/mypage/feed/data/${userId}`,  // 사용자 ID로 API 호출
            type: 'GET',
            dataType: 'json',  // JSON 응답을 받기 위한 설정

            success: function (data) {
                console.log("피드 로드 완료:", data);
                loadFeed(data);  // 받은 데이터를 바탕으로 결제 내역을 로딩
            },
            error: function (error) {
                console.log("에러 발생:", error);
            }
        });
        // 결제 내역을 출력하는 함수
        function loadFeed(feeds) {
            if (feeds && feeds.length > 0) {
                feeds.forEach((feeds, index) => {
                    let attachmentHtml = '';

                    // 첨부파일이 있을 경우 처리
                    if (feeds.attachmentFiles && feeds.attachmentFiles.length > 0) {
                        attachmentHtml = feeds.attachmentFiles.map(file => {
                            const filePath = `/uploads/${file}`; // 첨부파일의 경로
                            return `<img src="${filePath}" alt="첨부파일" class="feed-attachment">`;
                        }).join('');
                    }

                    const entryHtml = `
                <div class="feed-entry" style="background-image: url(/img/postFrame.png)">
                    ${attachmentHtml} <!-- 첨부파일 이미지 추가 -->
                    <div>${feeds.boardSubject}</div>

                </div>
            `;

                    // 항목을 페이지에 추가
                    addEntryToPage(entryHtml, index + 1);
                    console.log(`feed Entry ${index + 1} added to page`);
                });
            } else {
                $('#feedEntries').append('<p>피드가 없습니다.</p>');
            }
        }


        // URL에서 toUserId 값 추출하는 함수
        function getToUserIdFromUrl() {
            const pathParts = window.location.pathname.split('/');
            const UserId = pathParts[pathParts.length - 1]; // 마지막 부분이 toUserId
            return UserId;
        }




        // 방명록 불러오기
        function loadFeedPages() {
            console.log("loadGuestBooks 작동");

            // const toUserId = getToUserIdFromUrl();

            $.get(apiUrl, function (data) {
                console.log("Loaded feedpages:", data);

                // 기존 페이지 삭제 및 초기화
                resetFlipbook();

                // 데이터를 페이지에 추가
                data.forEach((feeds, index) => {
                    // 첨부파일이 있을 경우
                    let attachmentHtml = '';
                    if (feeds.attachmentFiles && feeds.attachmentFiles.length > 0) {
                        attachmentHtml = feeds.attachmentFiles.map(file => {
                            const filePath = `/uploads/${file}`; // 첨부파일의 경로
                            console.log('Image path: ' + filePath);  // /uploads/japan.jpg 경로가 올바르게 출력되는지 확인
                            return `<img src="${filePath}" alt="첨부파일" class="feed-attachment">`;
                        }).join('');
                    }



                    const entryHtml = `
                        <div class="feed-entry" style="background-image: url(/img/postFrame.png)">
                        ${attachmentHtml} <!-- 첨부파일 이미지 추가 -->
                        <div>${feeds.boardSubject}</div>
<!--                        <p>${feeds.city.cityName}</p>-->
                    </div>
                    `;
                    addEntryToPage(entryHtml, index + 1); // 항목을 페이지에 추가
                    console.log(`feed Entry ${index + 1} added to page ${currentPage}`);
                });
            });
        }

        // 기존 페이지 삭제
        function resetFlipbook() {
            console.log("resetFlipbook 작동");
            // 첫 번째 페이지는 유지하고 나머지를 초기화
            // 페이지를 초기화할 때, 기존 페이지를 모두 제거
            $('.flipbook').turn('destroy').html('');
            // 첫 번째 페이지 유지 및 나머지 페이지 제거
            $('.flipbook').turn('addPage', $('<div class="page" style="background-image:url(/img/titleGuestBook.png)">')[0]);
            $('#guestbookEntries').empty();  // 데이터 초기화
            currentPage = 2;  // 두 번째 페이지부터 시작
            pages = { 2: 0 };  // 첫 페이지 제외 초기화
        }

        // 항목을 페이지에 추가
        function addEntryToPage(entry, index) {
            console.log("addEntry 작동");
            const pageNumber = Math.floor((index - 1) / entriesPerPage) + 2;
            const adjustedPage = pageNumber;


            // 페이지 생성 여부 확인 후 생성
            if (!$(`#page${adjustedPage}`).length) {
                createNewPage(adjustedPage);
            }

            // 현재 페이지에 새 행 생성 여부 확인
            if (pages[adjustedPage] % 3 === 0) {
                createNewRow(adjustedPage);
            }


            $(`#page${adjustedPage} .row:last`).append(entry);
          pages[adjustedPage]++;
        }

        // 행 추가
        function createNewRow(pageNumber){
            console.log("현재 페이지, 행",pageNumber,currentRow)
            const rowHtml = `<div class="row" style="display:flex; gap:10px; justify-content:center;"></div>`;
            $(`#page${pageNumber}`).append(rowHtml);
        }



        // 새 페이지 생성
        function createNewPage(pageNumber) {
            console.log("createpage 작동",pageNumber);
            // const totalPages = $('.flipbook').turn('pages')+1;
            // // currentPage = totalPages + 1; // 페이지 번호 계산
            // const adjustedPage = totalPages +1;
            // console.log(`전체페이지:`,totalPages);

            let newPage;
            let newPageHtml;

            // 첫 번째 페이지는 이미지 전용으로 설정
            if (pageNumber === 1) {
                newPageHtml = `<div class="page" id="page${pageNumber}" style="background-image:url(/img/titleGuestBook.png)"></div>`;
            } else {
                // 나머지 페이지는 결제 내역을 위한 기본 배경 이미지로 설정
                newPageHtml = `<div class="page" id="page${pageNumber}" style="background-image:url(/img/addBook.png)"></div>`;
            }

            // 새 페이지를 flipbook에 추가

                $('.flipbook').turn('addPage', $(newPageHtml)[0], pageNumber);
                pages[pageNumber] = 0;  // 새 페이지 항목 수 초기화
                console.log(`새 페이지 생성: #page${pageNumber}`);

        }


        // 채팅 hover 효과
        function hoverChat() {
            let angle = 0;
            let shakeInterval = setInterval(() => {
                angle += 10;
                $('.goChat').css('transform', `rotateY(${angle}deg)`);
                if (angle >= 35) {
                    clearInterval(shakeInterval);
                    $('.goChat').css('transform', 'rotateY(0deg)');
                }
            }, 100);
        }
    });
</script>
</body>
</html>