<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta name="viewport" content="width = 1050, user-scalable = no" />	<!--전체 섹션 규격 & 유저 크기 조정 가능여부-->
    <script type="text/javascript" src ="/lib/JQuery/jquery.min.1.7.js"></script>	<!--경로 & 실제 파일 존재여부 반드시 확인-->
    <script type="text/javascript" src="/lib/JQuery/modernizr.2.5.3.min.js"></script>	<!--경로 & 실제 파일 존재여부 반드시 확인-->
    <!--	<script type="text/javascript" src="../lib/JQuery/yepnope.js"></script>-->
    <!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/3.11.2/modernizr.min.js"></script>-->
    <link rel="stylesheet" href="/css/bookMain.css">
    <link rel="stylesheet" href="/css/feedList.css">
    <link rel="stylesheet" href="/css/feedWrite.css">
    <script type="text/javascript" src="/js/feed.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>

</head>
<body style="background-image: url(/img/mypageBackground.jpg); background-repeat: no-repeat ; background-size: cover;">
<div class="logo">
    <div class="logo" style="background-image: url(/img/mypageLogo.png);" th:href="@{/user/home.html}"></div>
</div>
<div class="myPageGoHome" style="background-image: url(/img/myPageGoHome.png)"></div>

<div class="flipbook-viewport">

    <div class="container">
        <div class="flipbook">
            <div style="background-image:url(/img/mypageTitle.png)"></div>	<!--배경이미지 설정 부분 (여권사진 홀수번 우측, 짝수번 좌측 화면 표시 예정)-->
            <div style="background-image:url(/img/sample_left.png)">
                <div style="background-image:url(/img/sample_left.png)"></div>
                <img src="/img/addbutton.png" alt="feedAdd-Button" id="feedAdd-Button" class="feedAdd-Button" type="button">

                <div id="feed-Entries">
<!--                    동적으로 생성되는 카드(피드 리스트)가 들어갈 영역-->
                </div>

                <!--    피드 작성 모달     -->
                <div class="modal-container hidden" id="feed-modal" th:id="feed-form" th:method="post" th:action="@{mypage/feed/write}" enctype="multipart/form-data">
                    <form class="modal-content" style="background-image: url(/img/feedDetailFrame.png);">
                        <div class="modal-title">Write Feed Modal</div>

                        <!-- Left Side: Image Upload Section -->
                        <div class="section">
                            <div class="image-upload">
                                <div class="image-frame">
                                    <button class="prev-btn hidden">&lt;</button>
                                    <div id="image-preview" class="slider"></div>
                                    <button class="next-btn hidden">&gt;</button>
                                    <label for="file-input" class="camera-label">
                                        <img src="/img/camera.png" alt="Camera Icon" id="camera-icon">
                                    </label>
                                    <input type="file" name="feedImages" id="file-input" multiple accept="image/*" class="hidden" required>
                                </div>
                            </div>

                            <input type="text" name="feedTitle" placeholder="피드 제목" class="feed-title" id="feed-title" required>
                        </div>
                        <div class="image-message">이미지 최대 규격은 242px X 242px 입니다.</div>

                        <!-- 도시 선택 옵션 -->
                        <div class="city-select">
                            <a>At</a>
                            <select name="city-name" id="city-name" th:value="${board_cityId}">
                                <option value="" disabled >도시 이름을 선택하세요.</option>
                                <option th:each="city : ${cityList}"
                                        th:value="${city.city_id}"
                                        th:text="${city.city_name}"
                                        th:selected="${board.cityId == city.city_id}">
                                </option>
                            </select>
                        </div>

                        <!-- Feed Content -->
                        <label for="feed-content">
                            <textarea name="feedContent" placeholder="피드 내용" class="feed-content" id="feed-content" required></textarea>
                        </label>

                        <button type="submit" id="submit-button" class="submit-button">
                            <img src="/img/checkIcon.png" alt="submit-button">
                        </button>

                    </form>
                </div>


                <div style="background-image:url(/img/sample_right.png)"></div>
                <div style="background-image:url(/img/sample_left.png)"></div>
                <div style="background-image:url(/img/sample_right.png)"></div>
                <div style="background-image:url(/img/sample_left.png)"></div>
                <div style="background-image:url(/img/sample_right.png)"></div>
                <div style="background-image:url(/img/sample_left.png)"></div>
                <div style="background-image:url(/img/sample_right.png)"></div>
            </div>
        </div>
    </div>

    <!-- 메뉴바 -->
    <div class="menu1" id="1" style="background-image: url(/img/mypageMenu.png);"><h4 id="Invoice">&nbsp;Invoice</h4></div>
    <div class="menu2" id="2" style="background-image: url(/img/mypageMenu.png);"><h4 id="post" th:href="@{/mypage/feed.html}">&nbsp;Post</h4></div>
    <div class="menu3" id="3" style="background-image: url(/img/mypageMenu.png);"><h4 id="PostLiked">&nbsp;Post♥</h4></div>
    <div class="menu4" id="4" style="background-image: url(/img/mypageMenu.png);"><h4 id="PackageLiked">&nbsp;Package♥</h4></div>
    <div class="menu5" id="5" style="background-image: url(/img/mypageMenu.png);" ><h4 id="GuestBook" th:href="@{/mypage/bookGuestBook.html}">&nbsp;GuestBook</h4></div>
    <div class="goChat" style="background-image: url(/img/mypageChat.png);"></div>



</div>


<script type="text/javascript">
    $(document).ready(function () {
        const ENTRIES_PER_PAGE = 9;
        const apiUrl = "/mypage/feed";

        // 현재 사용자 ID 가져오기
        function getUserIdFromUrl() {
            const pathParts = window.location.pathname.split('/');
            return pathParts[pathParts.length - 1];
        }

        // 피드 목록 불러오기
        function loadFeedList() {
            const userId = getUserIdFromUrl();

            $.get(`${apiUrl}/${userId}`, function (feeds) {
                // 기존 페이지 초기화
                resetFlipbook();

                // 피드를 9개씩 페이지로 나누어 추가
                const pageGroups = chunkArray(feeds, ENTRIES_PER_PAGE);

                pageGroups.forEach((pageFeeds, pageIndex) => {
                    createNewPage(pageIndex + 1);
                    pageFeeds.forEach(feed => {
                        const feedCard = createFeedCard(feed);
                        $(`#page${pageIndex + 1}`).append(feedCard);
                    });
                });

                // 첫 페이지 활성화
                if (pageGroups.length > 0) {
                    $('.flipbook').turn('page', 1);
                }
            });
        }

        // 배열을 지정된 크기로 나누는 함수
        function chunkArray(array, size) {
            const result = [];
            for (let i = 0; i < array.length; i += size) {
                result.push(array.slice(i, i + size));
            }
            return result;
        }

        // 피드 카드 생성 함수
        function createFeedCard(feed) {
            return `
            <div class="feed-card" data-id="${feed.id}">
                <div class="photo-container">
                    ${feed.attachments ? `<img src="${feed.attachments}" alt="postThumbnail" class="post-thumbnail">` : ''}
                </div>
                <div class="feed-title">
                    <h4><b>${feed.boardSubject}</b></h4>
                </div>
            </div>
        `;
        }

        // 피드북 초기화
        function resetFlipbook() {
            $('.flipbook').turn('pages', 0);
            $('.flipbook div.page').remove();
        }

        // 새 페이지 생성
        function createNewPage(pageNumber) {
            const newPage = $(`
            <div class="page" id="page${pageNumber}"
                 style="background-image:url(/img/addBook.png)">
            </div>
        `);
            $('.flipbook').turn('addPage', newPage[0], pageNumber);
        }

        // 피드 카드 클릭 시 상세보기
        $(document).on('click', '.feed-card', function() {
            const feedId = $(this).data('id');
            window.location.href = `/mypage/feedDetail.html?feedId=${feedId}`;
        });

        // 피드 작성 모달 초기화
        function initializeFeedModal() {
            $('#feedAdd-Button').click(function() {
                $('#feed-modal').removeClass('hidden');
                $('body').css('overflow', 'hidden');
            });

            $(document).click(function(event) {
                if ($(event.target).closest('#feed-modal').length === 0 &&
                    !$(event.target).is('#feedAdd-Button')) {
                    $('#feed-modal').addClass('hidden');
                    $('body').css('overflow', 'auto');
                }
            });

            $('#feed-modal form').submit(function(event) {
                event.preventDefault();
                var formData = new FormData(this);

                $.ajax({
                    url: '/mypage/feed/write',
                    method: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        alert("성공적으로 피드를 작성하였습니다!");
                        $('#feed-modal').addClass('hidden');
                        $('body').css('overflow', 'auto');
                        loadFeedList();
                    },
                    error: function() {
                        alert("피드를 작성하는데 실패하였습니다.");
                    }
                });
            });
        }

        // 앱 초기화
        function initializeApp() {
            checkAndLoadFlipbook();
            loadFeedList();
            initializeFeedModal();

            // 메뉴 및 기타 버튼 이벤트 설정
            setupMenuEvents();
        }

        // 메뉴 및 기타 버튼 이벤트 설정
        function setupMenuEvents() {
            // 게시판으로 이동
            $('#view-board-button').click(function() {
                window.location.href = '/mypage/feed.html';
            });

            // 수정 버튼
            $('#edit-button').click(function() {
                window.location.href = `/mypage/feedUpdate.html?feedId=${feed.boardId}`;
            });

            // 삭제 버튼
            $('#delete-button').click(function() {
                if (confirm("정말 삭제하시겠습니까?")) {
                    $.ajax({
                        url: `${apiUrl}/delete`,
                        method: 'POST',
                        success: function () {
                            alert("피드가 삭제되었습니다.");
                            $('#feed-detail-modal').addClass('hidden');
                            loadFeedList();
                        },
                        error: function () {
                            alert("삭제에 실패했습니다.");
                        }
                    });
                }
            });

            // 채팅 hover 효과
            $('.goChat').hover(() => hoverChat());
        }

        // Flipbook 초기화
        function checkAndLoadFlipbook() {
            if (isCSSTransformSupported()) {
                $.getScript('/lib/animationjs/turn.js', loadApp);
            } else {
                $.getScript('../../lib/JQuery/turn.html4.min.js', loadApp);
            }
        }

        function loadApp() {
            $('.flipbook').turn({
                width: 922,
                height: 600,
                elevation: 50,
                gradients: true,
                autoCenter: false,
                display: 'double',
                first: true
            });
        }

        // CSS Transform 지원 여부 확인
        function isCSSTransformSupported() {
            const testElement = document.createElement('div');
            const transformProperties = [
                'transform', 'WebkitTransform', 'MozTransform',
                'OTransform', 'msTransform'
            ];
            return transformProperties.some(prop =>
                testElement.style[prop] !== undefined
            );
        }

        // 앱 초기화 실행
        initializeApp();

        // 채팅 hover 효과
        function hoverChat() {
            let angle = 0;
            let shakeInterval = setInterval(() => {
                angle += 10;
                $('.goChat').css('transform', `rotateY(${angle}deg)`);
                if (angle >= 35) {
                    clearInterval(shakeInterval);
                    $('.goChat').css('transform', 'rotateY(0deg)');
                }
            }, 100);
        }  //hoverChat
    });



</script>
</body>
</html>