spring:
  application:
    name: mytrip
  datasource:
    url: jdbc:mysql://localhost:3306/mytrip?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: mytrip
    password: fullstack2409
    driver-class-name: com.mysql.cj.jdbc.Driver
  # Thymeleaf 설정
  thymeleaf:
    cache: false
    prefix: classpath:templates/

mybatis:
  mapper-locations: classpath:mapper/*.xml       # 매퍼 XML 파일 경로
  type-aliases-package: com.lec.spring.mytrip.domain  # 도메인 클래스 패키지
  configuration:
    map-underscore-to-camel-case: true          # 스네이크 케이스를 카멜 케이스로 자동 매핑

server:
  port: 8082
  tomcat:
    max-http-form-post-size: 10GB