server:
  port: 8081
  tomcat:
    max-http-form-post-size: 10GB

spring:
  application:
    name: mytrip

  thymeleaf:
    cache: false
    prefix: classpath:templates/
    suffix: .html

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mytrip?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: mytrip
    password: fullstack2409

  security:
    user:
      name: user
      password: 1234
    oauth2:
      client:
        registration:
          google:
            client-id: 1011811384229-hkj4eg0vptm9vfelengesndr9bqb1489.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
          kakao:
            client-id: c4823220fb99328c1a65a5f60b0fd38a
            client-secret: zfWp7ldaCwvC6XMdlnhHz3BVd6KeC5TC
            redirect-uri: http://localhost:8081/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - profile_image
              - account_email
            client-name: kakao
            provider: kakao
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token   # Access Token 요청 URI
            user-info-uri: https://kapi.kakao.com/v2/user/me  # 사용자 profile 요청
            user-name-attribute: id

  servlet:
    # Multipart request 의 업로드 파일 크기 제한 설정
    multipart:
      max-file-size: 10GB   # 요청 파일 하나의 최대 크기
      max-request-size: 10GB  # 요청 파일 전체의 최대 크기

mybatis:
  mapper-locations: classpath:mapper/**/*.xml

app:
  upload:
    path: upload

  oauth2:
    password: 1234

debug: true
