<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="board-id" th:content="${boardId}">
    <meta name="user-id" th:content="${userId}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/board/group/detail.css}">
<!--    <meta name="user-id" th:content="${#authentication.principal.userId}">-->
    <title>피드 상세 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:if="${errorMessage}">
    <script type="text/javascript">
        alert("삭제에 실패했습니다");
    </script>
</div>
<!-- Header -->
<!-- Header Placeholder -->
<header id="header">
    <div class="topnav SMN_effect-6">
        <a th:href="@{/main/mainpage}">
            <img th:src="@{/img/logo.png}" alt="" class="logo">
        </a>
        <sec:authorize access="isAuthenticated()">
            <a th:href="@{/aipage/start}" class="top-menu">여행지 추천</a>
        </sec:authorize>
        <sec:authorize access="isAuthenticated()">
            <a th:href="@{/board/city/1}" class="top-menu">여행지 게시판</a>
        </sec:authorize>
        <sec:authorize access="isAuthenticated()">
            <a th:href="@{/flight/search}" class="top-menu">항공권 조회</a>
        </sec:authorize>
        <a sec:authorize="isAnonymous()" th:href="@{/user/login}" class="top-menu" style="margin-left: 40vw;">login</a>
        <form th:action="@{/user/mypage}" method="GET" sec:authorize="isAuthenticated()">
            <button type="submit" class="mypage" style="font-family: 'Kaushan Script'; margin-left: 40vw;">Mypage</button></form>
        <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated()" th:with="user=${#authentication.getPrincipal()}">
            <button type="submit" style="background-color: #142055; border: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16" style="color: #f2f2f2; background-color: #142055; margin-left: 50px; top: 20px">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                </svg>
            </button>
        </form>
    </div>
</header>

<!-- Main Content -->
<main class="container my-4">
            <div class="col-md-12 text-end">
                <!-- 삭제 버튼 -->
                <a th:if="${writerId == loggedInUserId}"
                   th:href="@{|/board/city/${cityId}/group/delete/${groupId}|}"
                   class="btn btn-danger">삭제</a>

                <!-- 수정 버튼 -->
                <a th:if="${writerId == loggedInUserId}"
                   th:href="@{|/board/city/${cityId}/group/edit/${groupId}|}"
                   class="btn btn-edit">수정</a>

                <!-- 목록 버튼 -->
                <a th:href="@{|/board/city/${cityId}|}" class="btn btn-list">목록</a>
            </div>
    <!-- 게시글 상단 -->
    <section class="border p-3 mb-4">
        <h2 id="title" th:text="${feed.boardSubject}"></h2>
        <div class="d-flex justify-content-between">
            <div>
                <p>작성자: <span id="author" th:text="${feed.user.name}"></span></p>
                <p>작성 시간: <span id="createdAt" th:text="${feed.boardDate}"></span></p>
            </div>
        </div>
    </section>

    <!-- 본문 -->
    <section class="border p-3 mb-4">
        <p id="content" th:utext="${feed.boardContent}"></p>
    </section>

    <!-- 댓글 섹션 -->
    <section class="border p-3">
        <h3>댓글</h3>
        <!-- 댓글 등록 -->
        <div sec:authorize="hasAuthority('ROLE_USER')"  class="mb-3">
            <textarea class="form-control" id="commentInput" placeholder="댓글을 입력하세요"></textarea>
            <button class="btn btn-primary mt-2" id="addCommentBtn">등록</button>
        </div>
        <!-- 댓글 목록 -->
        <!-- 댓글 목록 -->
        <div id="commentsList">
            <!-- 댓글이 여기에 동적으로 추가됩니다 -->
        </div>
    </section>

    <!-- 하단 이미지 슬라이더 -->
<!--    <section class="border p-3 mt-4">-->
<!--        <h3>첨부 사진</h3>-->
<!--        <div class="d-flex justify-content-center">-->
<!--            <button class="btn btn-secondary">〈</button>-->
<!--            <div class="d-flex overflow-hidden mx-2" style="width: 300px;">-->
<!--                <img src="sample1.jpg" alt="Sample 1" class="img-fluid mx-1">-->
<!--                <img src="sample2.jpg" alt="Sample 2" class="img-fluid mx-1">-->
<!--            </div>-->
<!--            <button class="btn btn-secondary">〉</button>-->
<!--        </div>-->
<!--    </section>-->
</main>

<!-- Footer -->
<footer id="footer">
    <div class="footercontainer">
        <div class="column1">
            <a th:href="@{/aipage/start}"><img th:src="@{/img/logo.png}" alt=""></a>
        </div>
        <div class="column2">
            <a th:href="@{/aipage/start}">여행지 추천</a>
            <a th:href="@{/post}">여행지 게시판</a>
            <a th:href="@{/flight/search}">항공권 예약</a>
            <a th:href="@{/flight/search}">마이페이지</a>
        </div>
        <div class="column3">
            <a th:href="@{/aipage/start}">이용약관</a>
            <a th:href="@{/post}">공지사항</a>
            <a th:href="@{/flight/search}">고객센터</a>
        </div>

        <!-- 아이콘과 텍스트를 묶는 컨테이너 -->
        <div class="icon-and-text">
            <div class="column4">
                <a th:href="@{/aipage/start}"><img th:src="@{/img/Instagram_logo.png}" alt="Instagram"></a>
                <a th:href="@{/aipage/start}"><img th:src="@{/img/facebook-logo.png}" alt="Facebook"></a>
                <a th:href="@{/aipage/start}"><img th:src="@{/img/youtube_logo.png}" alt="YouTube"></a>
                <a th:href="@{/aipage/start}"><img th:src="@{/img/naver_logo.png}" alt="Naver"></a>
            </div>
            <div class="column5">
                <p>©트립파트너㈜. ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script th:src="@{/js/board/group/comment.js}"></script>
<script th:src="@{/js/board/gotoMypage.js}"></script>
</body>
</html>
