* {
    box-sizing: border-box;
}

#selection-container {
    display: none;
}

/*커스텀 드롭다운*/
.custom-dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid black;
}

.dropdown-button {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #ddd;
}

.custom-dropdown:hover .dropdown-content {
    display: block;
}
/*커스텀 드롭다운*/

/*인원 선택*/
#selectionContainer {
    display: none; /* 기본적으로 숨김 */
    position: absolute; /* 버튼 기준으로 위치 설정 */
    top: calc(100% + 5px); /* 버튼 바로 아래, 약간의 간격 */
    left: 0; /* 버튼의 왼쪽 정렬 */
    z-index: 1000; /* 다른 요소 위로 올리기 */
    background-color: white; /* 배경색 */
    border: 1px solid #ddd; /* 테두리 */
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
    width: 300px; /* 원하는 크기 */
}

#openSelectionBtn {
    position: relative; /* 기준이 되는 버튼 설정 */
}

.selectTag {
    width: 100% ; /*부모요소 꽉 채우게*/
}

#roundTrip {
    border: 1px solid  black;
    padding: 10vh;
}

.sungekAge {
    display: block;
}

.sungekCnt {
    display: block;
}