<header id="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="topnav SMN_effect-6">
        <a th:href="@{/main/mainpage}">
            <img th:src="@{/img/logo.png}" alt="" class="logo">
        </a>
        <sec:authorize access="isAuthenticated()">
            <a th:href="@{/aipage/start}" class="top-menu">여행지 추천</a>
        </sec:authorize>
        <sec:authorize access="isAuthenticated()">
            <a th:href="@{/board/city/1}" class="top-menu">여행지 게시판</a>
        </sec:authorize>
        <sec:authorize access="isAuthenticated()">
            <a th:href="@{/flight/search}" class="top-menu">항공권 조회</a>
        </sec:authorize>
        <a sec:authorize="isAnonymous()" th:href="@{/user/login}" class="top-menu" style="margin-left: 40vw;">login</a>
        <form th:action="@{/user/mypage}" method="GET" sec:authorize="isAuthenticated()">
            <button type="submit" class="mypage" style="font-family: 'Kaushan Script'; margin-left: 40vw;">Mypage</button></form>
        <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated()" th:with="user=${#authentication.getPrincipal()}">
            <button type="submit" style="background-color: #142055; border: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16" style="color: #f2f2f2; background-color: #142055; margin-left: 50px; top: 20px">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                </svg>
            </button>
        </form>
    </div>
</header>
<script th:src="@{/js/mainsection2.js}"></script>