* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out; /* 부드러운 전환 효과 */
}

.page {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.hidden {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 2rem;
    color: #333;
}

h2 {
    font-size: 1.5rem;
    color: #333;
}

button {
    padding: 15px 30px;
    font-size: 1rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.options button {
    width: 100%;
    margin: 10px 0;
}

#result-text {
    font-size: 1.2rem;
    color: #333;
}

h6{
    color: red;
}