
body{
    overflow:hidden;
    background-color:#fcfcfc;
    margin:0;
    padding:0;
    font-family: 'Kaushan Script'
}

.flipbook-viewport{
    overflow:hidden;
    width:100%;
    height:100%;
}

.flipbook-viewport .container{
    position:absolute;
    top:55%;
    left:50%;
    margin:auto;
}

.flipbook-viewport .flipbook{
    width:922px;
    height:600px;
    left:-461px;
    top:-300px;
}

.flipbook-viewport .page{
    width:461px;
    height:600px;
    background-color:white;
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.flipbook .page{
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:0;
}

.flipbook-viewport .shadow{
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;

    -webkit-box-shadow:0 0 20px #ccc;
    -moz-box-shadow:0 0 20px #ccc;
    -o-box-shadow:0 0 20px #ccc;
    -ms-box-shadow:0 0 20px #ccc;
    box-shadow:0 0 20px #ccc;
}

.menu1 {
    position: absolute;
    top: 3%;
    left:51%;
    width: 100px;
    height: 250px;
    z-index: -6;
    background-repeat: no-repeat ;

    transition: top 0.3s ease;
}

.menu2 {
    position: absolute;
    top: 4%;
    left:55%;
    width: 100px;
    height: 250px;
    z-index: -5;
    background-repeat: no-repeat ;

    transition: top 0.3s ease;
}

.menu3 {
    position: absolute;
    top: 5%;
    left:59%;
    width: 100px;
    height: 250px;
    z-index: -4;
    background-repeat: no-repeat ;

    transition: top 0.3s ease;
}

.menu4 {
    position: absolute;
    top: 6%;
    left:63%;
    width: 100px;
    height: 250px;
    z-index: -3;
    background-repeat: no-repeat ;

    text-align: center;
    transition: top 0.3s ease;
}
.menu5 {
    position: absolute;
    top: 7%;
    left:67%;
    width: 100px;
    height: 250px;
    z-index: -2;
    background-repeat: no-repeat ;

    text-align: center;
    transition: top 0.3s ease;
}
.menu1:hover, .menu2:hover, .menu3:hover, .menu4:hover, .menu5:hover {
    top: 2%;
    cursor: pointer;
}
.logo{
    position:fixed;
    background-repeat: no-repeat;
    float: left;
    left: 40px;
    width: 100px;
    height: 120px;
    top: 20px;
    background-size: cover;

}
.logo:hover{
    cursor: pointer;
}
@keyframes rotateX {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(25deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.goChat{
    position: fixed;
    size-adjust: 80%;
    width: 160px;
    height: 100px;
    background-size: cover;
    bottom: 40px;
    right: 80px;
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: transform 1s ease;
}
.goChat:hover{animation:rotateX 0.5s ease-in-out;}

.mypageUserInfo{
    position: absolute;
    width: 90%;
    height: 150px;
    /*border: solid red 1px;*/
    margin: 15px;
    background-color: white;
    left: 47%;
    top: 15%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    display: flex;

    gap: 20px;

}

.mypageUserIntroduce{
    position: absolute;
    width: 90%;
    height: 80px;
    /*border: solid red 1px;*/
    background-color: white;
    margin: 15px;
    left: 47%;
    top: 36%;
    transform: translate(-50%,-50%);
    border-radius: 10px;

}
.writeGuestBook{
    width: 33px;
    height: 33px;
    background-size: cover;
    z-index: 9999;
    right: 21%;
    top: 13%;
    position: absolute;
    cursor: pointer;
}
.addGuestBookModal{
    width: 400px;
    height: 500px;
    margin-left: 52%;
    margin-top:8%;
    z-index: 9999;
    /*border: solid blue 1px;*/
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    /*opacity: 50%;*/
    border-radius: 10px;
    display: none;
    position: fixed;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
}




.guestbook-entry{
    margin-top: 10%;
    height: 120px;  /* 적절한 크기 설정 */
    width: 80%;    /* 전체 너비 */
    background-size: contain;  /* 이미지가 div를 완전히 덮지 않지만 잘리지 않고 축소되어 보임 */
    background-position: center;  /* 이미지 중앙 정렬 */
    background-repeat: no-repeat;  /* 이미지 반복 안 함 */
    text-align: center;
    left:40px;
}



/*<!--테스트CSS*/
.guestbook-entry {
    position: relative;
    z-index: 10; /* 페이지 위로 렌더링되도록 설정 */
    padding: 10px;
}

.leftBook, .rightBook {
    position: relative;
    overflow: visible; /* 텍스트가 잘리지 않도록 설정 */
}
.guestbook-entry h4 {
    color: #333; /* 적절한 대비 색상 */
    font-weight: bold;
    top:20px;
}

.guestbook-entry p {
    color: #555; /* 부드러운 색상 */
    margin-top: -10px;
}
.myPageGoHome{
    position:fixed;
    background-repeat: no-repeat;
    right: 100px;
    width: 200px;
    height: 300px;
    top: -250px;
    background-size: contain;
    transition: top 0.3s ease;
}
.myPageGoHome:hover{
    top: -150px;
    cursor: pointer;
}
.backgroundGuestBook{
    position: fixed;
    width:461px;
    height:600px;
    left: 50.05%;
    top: 82px;

}
.feed-entry {
    display: flex;
    width: 140px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    left:50%;
    top:20px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}


.writeFeed{
    background-repeat:no-repeat;
    height:600px;
    width:1500px;
    z-index: 9999;
    display: none;
    position: fixed;
    left: 350px;
    /*transform: translate(-50%, -50%);*/
    background-size: contain;
}
.feed-attachment {

    width: 90px; /* 필요한 크기로 조정 */
    height: 90px; /* 필요한 크기로 조정 */
    object-fit: cover; /* 이미지 왜곡 없이 잘라냄 */
    align-items: center;
}

.feed-entry{
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}

.feed-entry div{
    margin-top: 10px;
    text-align: center;
    font-size:10px;
}
.Detailmodal {
    background-size: inherit;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    display: none;
    width: 1000px;
    height: 60%;
    z-index: 9999;
    padding-left: 230px;
}

.modal-content {
    background-image: url(/img/feedDetailFrame.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1000px;
    height: 500px;
    position: relative;
    left: 200px;
    /*border: solid 1px #ccc;*/
    padding: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.post-image {
    width: 400px;
    height: 400px;
    background-color: #f0f0f0;
    border: solid 1px #ccc;
    position: absolute;
    left: 30px;
    top: 30px;
}

.post-title {
    position: absolute;
    top: 30px;
    left: 470px;
    font-size: 24px;
    font-weight: bold;
    width: 460px;
}

.post-date {
    position: absolute;
    top: 80px;
    left: 470px;
    font-size: 14px;
    color: #777;
}

.like-area {
    position: absolute;
    top: 120px;
    left: 470px;
    font-size: 16px;
    cursor: pointer;
}

.post-city {
    position: absolute;
    top: 160px;
    left: 470px;
    font-size: 16px;
    color: #555;
}

.post-content {
    position: absolute;
    top: 200px;
    left: 30px;
    width: 940px;
    height: 300px;
    overflow-y: auto;
    border: solid 1px #ccc;
    padding: 10px;
}

.edit-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.feed-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  /* 배경을 어둡게 */
    display: none;  /* 기본적으로 보이지 않음 */
    justify-content: center;
    align-items: center;
}

/* 모달 내용 */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
}

.close-modal {
    background-color: #ccc;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
