
body{
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
}

.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:absolute;
	top:55%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:922px;
	height:600px;
	left:-461px;
	top:-300px;
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.menu1 {
	position: absolute;
	top: 3%;
	left:51%;
	width: 100px;
	height: 250px;
	z-index: -5;
	background-repeat: no-repeat ;
	display: none;
	transition: top 0.3s ease;
}

.menu2 {
	position: absolute;
	top: 4%;
	left:55%;
	width: 100px;
	height: 250px;
	z-index: -4;
	background-repeat: no-repeat ;
	display: none;
	transition: top 0.3s ease;
}

.menu3 {
	position: absolute;
	top: 5%;
	left:59%;
	width: 100px;
	height: 250px;
	z-index: -3;
	background-repeat: no-repeat ;
	display: none;	
	transition: top 0.3s ease;
}

.menu4 {
	position: absolute;
	top: 6%;
	left:63%;
	width: 100px;
	height: 250px;
	z-index: -2;
	background-repeat: no-repeat ;
	display: none;
	text-align: center;
	transition: top 0.3s ease;
}
.menu5 {
	position: absolute;
	top: 7%;
	left:67%;
	width: 100px;
	height: 250px;
	z-index: -1;
	background-repeat: no-repeat ;
	display: none;
	text-align: center;
	transition: top 0.3s ease;
}
.menu1:hover, .menu2:hover, .menu3:hover, .menu4:hover, .menu5:hover {
    top: 2%; 
    cursor: pointer;
}
.logo{
	position:fixed;
	background-repeat: no-repeat;	
    float: left;
    left: 40px;
    width: 100px;
	height: 120px;
    top: 20px;
	background-size: cover;
	
}
.logo:hover{
	cursor: pointer;
}
@keyframes rotateX {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(25deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.goChat{
	position: fixed;
	size-adjust: 80%;
	width: 160px;
	height: 100px;
	background-size: cover;
	bottom: 40px;
	right: 80px;
	cursor: pointer;
	transform-origin: 50% 50%;
    transition: transform 1s ease;
}
.goChat:hover{animation:rotateX 0.5s ease-in-out;}

.mypageUserInfo{
	position: absolute;
	width: 90%;
	height: 150px;
	border: solid red 1px;
	margin: 15px;
	left: 47%;
	top: 15%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	display: flex;
	
	gap: 20px;
	
}

.mypageUserIntroduce{
	position: absolute;
	width: 90%;
	height: 80px;
	border: solid red 1px;
	margin: 15px;
	left: 47%;
	top: 36%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	
}
.mypageFreind{
	position: absolute;
	width: 90%;
	height: 100px;
	border: solid red 1px;
	margin: 15px;
	left: 47%;
	top: 53%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
}
.mypageCityLiked{
	position: absolute;
	width: 90%;
	height: 180px;
	border: solid red 1px;
	margin: 15px;
	left: 47%;
	top: 78%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	
}
.recentPost{
	position: absolute;
	width: 90%;
	height: 88%;
	border: solid red 1px;
	margin: 15px;
	top: 3%;
}



.container{
	text-align: center;
	align-content: center;
	
}

.circle {
	width: 100px;         /* 원의 지름 */
	height: 100px;        /* 원의 지름 */
	border: solid red 1px; /* 원의 색상 */
	border-radius: 50%;  /* 동그라미 모양으로 만듦 */
	display: flex;       /* 정렬을 위해 Flexbox 사용 */
	justify-content: center; /* 중앙 정렬 */
	align-items: center; /* 중앙 정렬 */	
	font-size: 16px;     /* 글자 크기 */
	font-weight: bold;   /* 글자 굵기 */
	margin: 20px;
}

.InfoName{
	width: 200px;
	height: 80px;
	border: solid red 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;

}

.decorateName{
	width: 200px;
	height: 30px;
	border: solid red 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;

}
.firstSection{
	width: 90%;
	height: 30%;
	border: solid red 1px;
	margin: 15px;
	top: 3%;
	display: flex;
	flex-direction: row;
	
}

.secondSection{
	width: 90%;
	height: 30%;
	border: solid red 1px;
	margin: 15px;
	top: 3%;
	display: flex;
	flex-direction: row;
}

.thirdSection{
	width: 90%;
	height: 30%;
	border: solid red 1px;
	margin: 15px;
	top: 3%;
	display: flex;
	flex-direction: row;
}
.postFrame{
	width: 32%;
	height: 100%;
	border: solid red 1px;	
	margin-left:3px;
	margin-right: 3px;
	background-image: url('../img/postFrame.png');
	background-size: contain;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
}
.postImg{
	width: 80%;
	height: 50%;
	border: solid red 1px;	
	margin-left:10px;
	margin-right: 10px;
	margin-top: 20%;
	background-size: contain;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
}
.postTitle{
	width: 80%;
	height: 15%;
	border: solid red 1px;	
	margin-left:10px;
	margin-right: 10px;
	margin-top: 4%;
	background-size: contain;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
}

