

body{
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
	font-family: 'Kaushan Script'

}


.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;

}

.flipbook-viewport .container{
	position:absolute;
	top:55%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:922px;
	height:600px;
	left:-461px;
	top:-300px;
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.menu1 {
	position: absolute;
	top: 3%;
	left:51%;
	width: 100px;
	height: 250px;
	z-index: -5;
	background-repeat: no-repeat ;
	display: none;
	transition: top 0.3s ease;
}

.menu2 {
	position: absolute;
	top: 4%;
	left:55%;
	width: 100px;
	height: 250px;
	z-index: -4;
	background-repeat: no-repeat ;
	display: none;
	transition: top 0.3s ease;
}

.menu3 {
	position: absolute;
	top: 5%;
	left:59%;
	width: 100px;
	height: 250px;
	z-index: -3;
	background-repeat: no-repeat ;
	display: none;	
	transition: top 0.3s ease;
}

.menu4 {
	position: absolute;
	top: 6%;
	left:63%;
	width: 100px;
	height: 250px;
	z-index: -2;
	background-repeat: no-repeat ;
	display: none;
	text-align: center;
	transition: top 0.3s ease;
}
.menu5 {
	position: absolute;
	top: 7%;
	left:67%;
	width: 100px;
	height: 250px;
	z-index: -1;
	background-repeat: no-repeat ;
	display: none;
	text-align: center;
	transition: top 0.3s ease;
}
.menu1:hover, .menu2:hover, .menu3:hover, .menu4:hover, .menu5:hover {
    top: 2%; 
    cursor: pointer;
}
.logo{
	position:fixed;
	background-repeat: no-repeat;	
    float: left;
    left: 40px;
    width: 100px;
	height: 120px;
    top: 20px;
	background-size: cover;
}
.logo:hover{
	cursor: pointer;
}
@keyframes rotateX {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(25deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.goChat{
	position: fixed;
	size-adjust: 80%;
	width: 160px;
	height: 100px;
	background-size: cover;
	bottom: 40px;
	right: 80px;
	cursor: pointer;
	transform-origin: 50% 50%;
    transition: transform 1s ease;
}
.goChat:hover{animation:rotateX 0.5s ease-in-out;}

.mypageUserInfo{
	position: absolute;
	width: 90%;
	height: 150px;
	/*border: solid red 1px;*/
	margin: 15px;
	background-color: white;
	left: 47%;
	top: 15%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	display: flex;
	
	gap: 20px;
	
}

.mypageUserIntroduce{
	position: absolute;
	width: 90%;
	height: 80px;
	/*border: solid red 1px;*/
	background-color: white;
	margin: 15px;
	left: 47%;
	top: 36%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	
}
.mypageFreind{
	position: absolute;
	width: 90%;
	height: 100px;
	/*border: solid red 1px;*/
	margin: 15px;
	background-color: white;
	left: 47%;
	top: 53%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	display: flex;
}
.Connections{
	font-size: 30px;


}
.ConnectionsCnt{
	font-size: 25px;
	margin-left: 20px;
	cursor: pointer;
}
.mypageCityLiked{
	position: absolute;
	width: 90%;
	height: 180px;
	/*border: solid red 1px;*/
	margin: 15px;
	background-color: white;
	left: 47%;
	top: 78%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	
}
.recentPost{
	position: absolute;
	width: 90%;
	height: 88%;
	/*border: solid red 1px;*/
	margin: 15px;
	/*background-color: white;*/
	top: 3%;
}



.container{
	text-align: center;
	align-content: center;
	
}

.circle {
	width: 100px;         /* 원의 지름 */
	height: 100px;        /* 원의 지름 */
	/*border: solid red 1px; !* 원의 색상 *!*/
	border-radius: 50%;  /* 동그라미 모양으로 만듦 */
	display: flex;       /* 정렬을 위해 Flexbox 사용 */
	justify-content: center; /* 중앙 정렬 */
	align-items: center; /* 중앙 정렬 */	
	font-size: 16px;     /* 글자 크기 */
	font-weight: bold;   /* 글자 굵기 */
	margin: 20px;
	cursor: pointer;
}

.InfoName{
	width: 180px;
	height: 80px;
	/*border: solid red 1px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	font-size: 30px;

}

.decorateName{
	width: 180px;
	height: 30px;
	/*border: solid red 1px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;

}
.firstSection{
	width: 90%;
	height: 30%;
	/*border: solid red 1px;*/
	margin: 15px;
	top: 3%;
	display: flex;
	flex-direction: row;
	
}

.secondSection{
	width: 90%;
	height: 30%;
	/*border: solid red 1px;*/
	margin: 15px;
	top: 3%;
	display: flex;
	flex-direction: row;
}

.thirdSection{
	width: 90%;
	height: 30%;
	/*border: solid red 1px;*/
	margin: 15px;
	top: 3%;
	display: flex;
	flex-direction: row;
}
.postFrame{
	width: 32%;
	height: 100%;
	/*border: solid red 1px;	*/
	margin-left:3px;
	margin-right: 3px;
	background-image: url('../img/postFrame.png');
	background-size: contain;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
}
.postImg{
	width: 80%;
	height: 50%;
	/*border: solid red 1px;	*/
	margin-left:10px;
	margin-right: 10px;
	margin-top: 20%;
	background-size: contain;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
}
.postTitle{
	width: 80%;
	height: 15%;
	/*border: solid red 1px;	*/
	margin-left:10px;
	margin-right: 10px;
	margin-top: 4%;
	background-size: contain;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
}

.myPageGoHome{
	position:fixed;
	background-repeat: no-repeat;
	right: 100px;
	width: 200px;
	height: 300px;
	top: -250px;
	background-size: contain;
	transition: top 0.3s ease;
}
.myPageGoHome:hover{
	top: -150px;
	cursor: pointer;
}
.CityLikedImg{
	/*border: solid red 1px;*/
	width: 250px;
	height: 130px;
	cursor: pointer;
}
.CityLikedTitle{

}
.myPageUpdate{
	margin-top: 10px;
	margin-right: 10px;
	width: 10%;
	height: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}
.updateUserModal{
	width: 400px;
	height: 500px;
	margin-left: 52%;
	margin-top:8%;
	z-index: 9999;
	/*border: solid blue 1px;*/
	background-color: black;
	background-color: rgba(0, 0, 0, 0.5);
	/*opacity: 50%;*/
	border-radius: 10px;
	display: none;
	position: fixed;
	align-content: center;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}
.NameAndImg{
	width: 90%;
	height: 27%;
	border-radius: 10px;
	/*border: solid green 1px;*/
	background-color: white;
	opacity: 1;
	margin: 5%;
	display: flex;
	gap: 20px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.IntroduceMyself{
	width: 90%;
	height: 18%;
	border-radius: 10px;
	border: solid green 1px;
	background-color: white;
	margin: 5%;
}
.UpdatePassword{
	width: 90%;
	height: 37%;
	border-radius: 10px;
	/*border: solid green 1px;*/
	background-color: white;
	margin: 5%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.UserPassword{
	width: 200px;

}
.NewUserPassword{
	width: 200px;
}

.Updatecircle {
	width: 100px;         /* 원의 지름 */
	height: 100px;        /* 원의 지름 */
	/*border: solid red 1px; !* 원의 색상 *!*/
	border-radius: 50%;  /* 동그라미 모양으로 만듦 */
	display: flex;       /* 정렬을 위해 Flexbox 사용 */
	justify-content: center; /* 중앙 정렬 */
	align-items: center; /* 중앙 정렬 */
	font-size: 16px;     /* 글자 크기 */
	font-weight: bold;   /* 글자 굵기 */
	margin: 20px;
	cursor: pointer;
}

.UserNameArea{
	flex-grow: 1;
	/*border: solid red 1px;*/
	font-size: 30px;
}

.closeUpdateModal{
	right: 10px;
	margin-top: -150px;
	margin-right: -20px;
	background:none;
	color:white;
	cursor: pointer;
}

.submitUpdate{

	width: 30px;
	height: 30px;
	/*border: red solid 1px;*/
	right: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;

}

.circle img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.Updatecircle img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#friendModal{
	width: 400px;
	height: 500px;
	margin-left: 52%;
	margin-top:8%;
	z-index: 9999;
	border: solid black 1px;
	background-color: white;

	/*opacity: 50%;*/
	border-radius: 10px;
	display: none;
	position: fixed;
	align-content: center;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

/* 친구 프로필 이미지 스타일 */
.friend-profile-img {
	width: 50px;  /* 이미지 크기 */
	height: 50px; /* 이미지 크기 */
	border-radius: 50%;  /* 원형으로 만들기 */
	margin-right: 10px;  /* 이미지와 텍스트 간격 */
}

/* 친구 이름 텍스트 스타일 */
.friend-name {
	font-size: 16px;  /* 텍스트 크기 */
	font-weight: bold; /* 텍스트 굵게 */
	color: #333;  /* 텍스트 색상 */
	vertical-align: middle;  /* 이미지와 텍스트 수직 정렬 */
}

/* 친구 목록 항목 스타일 */
#friendList li {
	display: flex;  /* 이미지와 텍스트가 가로로 정렬되도록 설정 */
	align-items: center;  /* 세로 가운데 정렬 */
	padding: 10px;  /* 항목의 패딩 */
	border-bottom: 1px solid cyan;  /* 항목 간 구분선 */
}

.CityLikedImg {
	width: 100%;    /* 이미지 컨테이너가 100% 너비로 크기 조정 */
	height: 130px;  /* 고정된 높이 설정 */
	overflow: hidden; /* 넘칠 경우 자르기 */
}

.CityLikedImg img {
	width: 100%;     /* 이미지 너비를 100%로 설정 */
	height: 100%;    /* 이미지 높이를 100%로 설정 */
	object-fit: cover;  /* 컨테이너에 맞게 이미지를 크롭 */
}


.mypageCityLiked {
	position: relative;
	width: 90%;
	height: 170px; /* 슬라이드 컨테이너의 고정 높이 */
	overflow: hidden;
}

.slider {
	display: flex;
	transition: transform 0.3s ease;
	width: 100%;
	height: 100%; /* 슬라이드 영역 전체 높이를 채우도록 설정 */
	margin-bottom: 15px;
}

.cityLikedItem {
	min-width: 100%; /* 한 항목이 화면을 가득 채우도록 */
	height: 100%; /* 항목의 높이를 슬라이드 컨테이너 높이에 맞춤 */
	display: flex;
	flex-direction: column; /* 이미지와 텍스트 세로로 배치 */
	justify-content: center; /* 항목 내용이 세로로 중앙에 위치하도록 */
	align-items: center; /* 이미지와 텍스트를 수평으로 중앙 정렬 */
	text-align: center; /* 텍스트를 중앙 정렬 */
}

.CityLikedImg {
	width: 80%; /* 이미지를 컨테이너 너비의 80%로 설정 (원하는 크기로 조정) */
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CityLikedImg img {
	width: 70%;
	height: auto;
	object-fit: contain; /* 이미지 비율을 유지하면서 화면에 맞게 조정 */
}

.CityLikedTitle {
	margin-top: 10px; /* 이미지와 텍스트 사이에 여백 추가 */
	font-size: 16px; /* 텍스트 크기 조정 */
}

button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	z-index: 10;
}

button.prev {
	left: 10px;
}

button.next {
	right: 10px;
}


.feed-entry {
	display: flex;
	width: 140px;
	height: 180px;
	background-repeat: no-repeat;
	background-size: contain;
	left:50%;
	top:20px;
	flex-direction: column;
	align-items: center;
	cursor: pointer;

}
.feed-attachment {

	width: 90px; /* 필요한 크기로 조정 */
	height: 90px; /* 필요한 크기로 조정 */
	object-fit: cover; /* 이미지 왜곡 없이 잘라냄 */
	align-items: center;
}

.feed-entry{
	padding-top: 20px;
	flex-direction: column;
	align-items: center;
}

.feed-entry div{
	margin-top: 10px;
	text-align: center;
	font-size:10px;
}

.mypageUserIntroduce {
	display: flex;
	justify-content: center;  /* 가로 기준 가운데 정렬 (필요시 추가) */
	align-items: center;      /* 세로 기준 가운데 정렬 */

}

/* 모달 스타일 */
.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 1000;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	background: white;
	padding: 20px;
	border-radius: 8px;
	z-index: 1001;
}

.modal-header, .modal-body {
	margin-bottom: 10px;
}

.close-btn {
	float: right;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
}

#openModalBtn{
	cursor: pointer;
}

.btn-danger {
	background: #dc3545;
}

.btn-close {
	background: #6c757d;
}

.requestView {
	width: 10px;      /* 너비 설정 */
	height: 10px;     /* 높이 설정 (정사각형) */
	background-color: orange;  /* 배경색 주황색 */
	border-radius: 50%; /* 동그라미 모양 */
	display: flex;
	justify-content: center; /* 내용 가로 정렬 */
	align-items: center;     /* 내용 세로 정렬 */
	color: black;      /* 텍스트 색상 */
	font-weight: bold; /* 텍스트 두께 */
	font-size: 16px;   /* 텍스트 크기 */
	text-align: center;
	cursor: pointer;   /* 클릭 시 포인터 커서 */
	margin-bottom: 30px;
}

li {
	display: flex;
	align-items: center; /* 수직 정렬 */
	margin-bottom: 10px;
	margin-right: 10px;
	justify-content: space-between; /* 아이템들을 양쪽 끝으로 배치 */
}

/* 프로필 이미지 */
.friend-profile-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

/* 이름 */
.friend-name {
	margin-right: 10px;
	flex-grow: 1;
}

/* 버튼 컨테이너 */
/* 버튼들을 감싸는 컨테이너 스타일 */
.button-container {
	display: flex;
	gap: 10px; /* 버튼 사이의 간격 */
	justify-content: flex-start; /* 왼쪽 정렬 */
	align-items: center;
}

/* 버튼 기본 스타일 */
button {
	padding: 5px 10px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	min-width: 70px; /* 버튼 최소 크기 */
}

/* 수락 버튼 스타일 */
.accept-btn {
	background-color: green;
	color: white;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
	min-width: 70px;
	display: inline-block; /* 버튼이 화면에 표시되도록 설정 */
	z-index: 9999;
	right: 100px;
}

/* 거절 버튼 스타일 */
.reject-btn {
	background-color: red;
	color: white;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
	min-width: 70px;
	display: inline-block; /* 버튼이 화면에 표시되도록 설정 */
	right: 20px;
}
li {
	overflow: visible;
}
.closed{
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	color: black;
}