/* General Reset */
body {
    margin: 0;
    font-family: 'Kaushan Script';
}

.modal .hidden {
    display: none;
}

.button {
    cursor: pointer;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.745);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    width: 700px;
    height: 900px;
    border-radius: 5%;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header {
    border-bottom: #ddd 2px solid;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.modal-title {
    font-size: 28px;
    font-weight: bold;
    flex: 3;
    padding-top: 38px;
}

.pay-status {
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
}

.pay-status-select {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 32px;
    flex: 1;
    margin-top: 50px;
}

.payment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;

}

.payment-table th, .payment-table td {
    padding: 10px;
    text-align: center;
}

.payment-table th {
    font-weight: bold;
}

.payment-complete {
    background-color: #4CAF50; /* 초록색 바탕 */
    color: black; /* 검은색 글씨 */
}

.payment-cancel {
    background-color: #F44336; /* 빨간 바탕 */
    color: black; /* 검은색 글씨 */
}

/* Center Modal */
.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.package-payment {
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    right: 8%;
    top: 23%;
    transform: translateY(-50%);
    background-color: white;
}