
/* font */
@font-face {
    font-family: 'MinSans-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMkkubulimTTF-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BMkkubulimTTF-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* header */
.topnav {
    font-family: 'MinSans-Regular', sans-serif;
    background-color: #142055;
    overflow: hidden;
    height: 120px;
    display: flex;
    align-items: center;
}

/* header의 a태그 */
.topnav a {
    font-family: 'MinSans-Regular', sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 100px;
    border-radius: 15px;
    margin-right: 50px;
}

/* header의 a태그에 마우스 hover */
.topnav a:hover {
    font-family: 'MinSans-Regular', sans-serif;
    background-color: #ddd;
    color: black;
}

/* header의 로고 */
.topnav .logo {
    position: relative;
    float: left;
    left: 40px;
    width: 90px;
    height: 95px;
}

/* 로그인 버튼 */
.topnav a:last-child {
    font-size: 32px;
    margin-left: auto; /* 오른쪽으로 정렬 */
    margin-right: 200px; /* 오른쪽 여백 추가 */
}
