/* header */
.topnav {
    background-color: #142055;
    overflow: hidden;
    height: 120px;
    display: flex;
    align-items: center;
}

/* header의 a태그 */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    top: 20px;
    left: 100px;
    border-radius: 15px;
    margin-right: 50px;
}

/* header의 a태그에 마우스 hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* header의 로고 */
.topnav .logo {
    position: relative;
    float: left;
    left: 40px;
    width: 100px;
    height: 100px;
}

/* 로그인 버튼 */
.topnav a:last-child {
    font-size: 24px;
    margin-left: auto; /* 오른쪽으로 정렬 */
    margin-right: 200px; /* 오른쪽 여백 추가 */
}
