/* font */
@font-face {
    font-family: 'MinSans-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.slide a p {
    text-decoration: none; /* 밑줄 제거 */
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 수평 스크롤 방지 */

}

#section2 h2,
#section2 p {
    font-family: 'MinSans-Regular', sans-serif;
    color: #ffffff !important; /* 텍스트 색상을 흰색으로 설정 */
}
#section2 h2 {
    margin-top: 50px; /* 제목의 위쪽 여백을 늘려 아래로 이동 */
}

#section2 {
    padding-top: 80px; /* 섹션 전체의 위쪽 패딩을 늘려 이동 */
    background-color: #142055;
}

.slide a {
    text-decoration: none; /* 밑줄 제거 */
}
.slider {
    background-color: #142055;
    width: 100%;
    overflow: visible; /* 슬라이더 영역 외부는 보이지 않도록 설정 */
    height: 600px;

}
.no-underline {
    text-decoration: none; /* 밑줄 제거 */
}
.slide-track {
    display: flex;
    width: calc(200%); /* 슬라이더 길이를 길게 설정하여 무한 스크롤 효과 구현 *!*/
    animation: scroll 14s linear infinite;
    display: flex;

}

.slider.paused .slide-track {
    animation-play-state: paused; /* 슬라이더 멈춤 */
}

.slide {
    margin-top: 10px;
    width: 300px; /* 각 슬라이드가 전체 너비의 10%를 차지하도록 설정 *!*/
    flex: 0 0 auto;
    margin: 0 5px;
    transition: transform 0.01s ease; /* 애니메이션 효과 추가 */
    overflow: hidden; /* 슬라이더가 영역 밖으로 나가지 않도록 */
    position: relative;
}

.slide img {
    width: 200px;
    height: 250px;
    position: relative;
    top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover; /* 이미지가 컨테이너에 맞게 비율을 유지하며 잘리도록 설정 */
    display: block;
    border-radius: 15px; /* 모서리를 둥글게 설정 (15px은 원하는 값으로 조정 가능) */
}

.slide:hover {
    transform: scale(1.1); /* 마우스 오버 시 확대 */
}

/* slide 안에 있는 p 태그 스타일 */
.slide p {
    font-family: 'MinSans-Regular', sans-serif;
    margin-top: 110px;
    text-align: left;
    color: #ffffff;
    font-size: 25px;
    text-decoration: none !important; /* 밑줄 제거 */
    width: 400px;
    z-index: 10;
    line-height: 1.5;
    cursor: default; /* 링크처럼 보이지 않도록 커서 설정 */
    stroke-dashoffset: 300; /* 초기 상태: 선 숨김 */
}



@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.slide{
    /*text-align: center;*/
    flex: 0 0 300px; /* 슬라이드 너비 */
    margin-right: 10px;
}



/* 혹시 글자가 링크처럼 보이는 문제를 해결하기 위해 */
.slide p:hover {
    text-decoration: none; /* 마우스 오버 시에도 밑줄 제거 */
}


