<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="../../static/CSS/flight/search.css">
</head>
<body>
<div>
    <form action="">
        <div>
            <!-- 출발지 -->
            <select id="fromEntityId" name="fromAirportId">
                <option th:each="port : ${airports}" th:value="${port.airport_code}">
                    <div>인천 국제 공항</div>
                    <div>인천</div>
                    <div>꼬-레아</div>
                </option>
            </select>
            <!-- 도착지 -->
            <select id="toEntityId" name="toAirportId" >
                <option th:each="port : ${airports}" th:value="${port.airport_code}">
                    <div th:utext="${port.airport_name}"></div>
                    <div th:utext="${port.airport_code}"></div>
                    <div th:utext="${port.airport_city}"></div>
                    <div th:utext="${port.airport_country}"></div>
                </option>
            </select>
            <!-- 날짜선택 -->
            <button id="start-date-btn">가는 날</button>
            <input type="hidden" name="departDate" id="start-date-value">

            <button id="end-date-btn">오는 날</button>
            <input type="hidden" name="returnDate" id="end-date-value">
            <!-- 인원선택 -->
            <button id="open-selection-btn">인원 및 좌석 선택</button>

            <div id="selection-container">
                <!-- 인원 선택 -->
                <div class="section" id="passenger-selection">
                    <h3>인원 선택</h3>
                    <div class="passenger-item">
                        <span>성인</span>
                        <span id="adult-count">1</span>
                        <input type="hidden" name="adultsHeadCnt" id="adult-count-input" value="1">
                        <div class="btn-group" id="adult-group">
                            <button class="btn-decrease">-</button>
                            <button class="btn-increase">+</button>
                        </div>
                    </div>
                    <div class="passenger-item">
                        <span>어린이</span>
                        <span id="child-count">0</span>
                        <input type="hidden" name="childrenHeadCnt" id="child-count-input" value="0">
                        <div class="btn-group" id="child-group">
                            <button class="btn-decrease">-</button>
                            <button class="btn-increase">+</button>
                        </div>
                    </div>
                    <div class="passenger-item">
                        <span>아기</span>
                        <span id="infant-count">0</span>
                        <input type="hidden" name="infantsHeadCnt" id="infant-count-input" value="0">
                        <div class="btn-group" id="infant-group">
                            <button class="btn-decrease">-</button>
                            <button class="btn-increase">+</button>
                        </div>
                    </div>
                </div>

                <!-- 좌석 선택 -->
                <div class="section" id="seat-selection">
                    <h3>좌석 선택</h3>
                    <select name="cabinClass">
                        <option value="economy">이코노미</option>
                        <option value="premium_economy">비즈니스</option>
                        <option value="business">프리미엄</option>
                        <option value="first">퍼스트</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <button id="api-query">조회</button>
        </div>
    </form>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="../../static/JS/flight/search.js"></script>
<script src="../../static/JS/flight/flightApiBase.js"></script>
</body>
</html>